*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup {
    width: 340px;
    height: 640px;
    margin: 0 auto;
    background-color: #FFEB33;
}

.inner{
    width: 240px;
    margin: 0 auto;
    padding-top: 70px;
}

.logoContainer{
    width: 100%;
    height: 146px;
    display: flex;
    justify-content: center;
}

.logo{
    width: 225px;
    height: 146px;
    background: wheat;
}

.container{
    margin-bottom: 15px;
}

.box{
    width: 240px;
    height: 42px;
    border: 1px solid gray;
    /* border-top: none; */
    padding-left: 10px;
}

.box:first-child{
    border: 1px solid gray;
}

.imgConatiner{
    width: 240px;
    display: flex;
    border: 1px solid gray; 
}

.imgFile{
    border: none;
    padding-left: 10px;
}

.imgFileBtn{
    width: 150px;
    height: 42px;
    line-height: 42px;
    font-size: 13px;
    background: #999999;
    text-align: center;
}

.btn{
    width: 240px;
    height: 42px;
    border: 1px solid lightgray;
    background: #ececec;
}

.btn:hover{
    cursor: pointer;
}