*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.chats{
    border: 1px solid;
    width: 340px;
    height: 640px;
    margin: 0 auto;
}

.header{
    height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(250, 250, 250);
}

#title{
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
}

#icons{
    display: flex;
    align-items: center;
}

#icons > li{
    width: 30px;
    height: 30px;
    background-size: 70%;
    margin-right: 5px;
}
#icons > li:hover{
    cursor: pointer;
}
#icons > li:nth-child(1){
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/search.png);
    background-repeat: no-repeat;
    background-position: center;
}
#icons > li:nth-child(2){
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/user.png);
    background-repeat: no-repeat;
    background-position: center;
}
#icons > li:nth-child(3){
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/smile.png);
    background-repeat: no-repeat;
    background-position: center;
}
#icons > li:nth-child(4){
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/gear.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

.chatBoxList{
    height: calc(100% - 100px);
    padding: 0 10px;
}

.chatBoxInner{
    display: flex;
    justify-content: space-between;
    height: 60px;
}


.leftSection{
    display: flex;
    padding-top: 2.5px;
    width: 200px;
    align-items: center;
}

.img{
    width: 45px;
    height: 45px;
    border-radius: 20px;
    background: wheat;
    margin-right: 5px;
}

.title{
    font-size: 15px;
    font-weight: 550;
}

.userName{
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    padding-left: 10px;
}

.rightSection{
    width: 70px;
    padding-top: 2.5px;
}

.enterBtn{
    width: 70px;
    height: 50px;
    border: none;
    font-size: 13px;
    background: white;
}
.enterBtn:hover{
    cursor: pointer;
}
.footer{
    height: 50px;
    background: rgb(250, 250, 250);
    bottom: 0;
    display: flex;
    border-top: 1px solid #ddd;
}

.friends{
    width: calc( 100% / 4 );
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/user.png);
    background-repeat: no-repeat;
    background-position: center;
}
.chatList{
    width: calc( 100% / 4 );
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/talks.png);
    background-repeat: no-repeat;
    background-position: center;
}
.etc{
    width: calc( 100% / 4 );
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/notification.png);
    background-repeat: no-repeat;
    background-position: center;
}

.makeChat{
    width: calc( 100% / 4 );
    text-align: center;
    line-height: 50px;
    background-image: url(../../images/talk.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}